.container
    .card.o-hidden.border-0.shadow-lg.my-5
        .card-body.p-0
            a(href='/user-accounts').btn.btn-primary
                i.fas.fa-users.fa-fws
            // Nested Row within Card Body
            .row
                .col-lg-5.d-none.d-lg-block.bg-register-image
                .col-lg-7
                    .p-5
                        .text-center
                            h1.h4.text-gray-900.mb-4 Create an Account!
                            -if (typeof (error) !== 'undefined' && error.length > 0)
                                .alert.alert-danger.alert-dismissible(role='alert')
                                    each item in error
                                        .li #{item}
                            - else if (typeof (success) !== 'undefined' && success.length > 0)
                                .alert.alert-success.alert-dismissible(role='alert')
                                    each item in success
                                        .li #{item}
                    -var input = (typeof (data) === 'undefined') ? {} : data
                        form.user(action = '/submit-register-user' method='post')
                            .form-group.row
                                .col-sm-6.mb-3.mb-sm-0
                                    input#first_name.form-control.form-control-user(type='text' placeholder='First Name' name='first_name' value=input.firstName)
                                .col-sm-6
                                    input#last_name.form-control.form-control-user(type='text' placeholder='Last Name' name='last_name' value=input.lastName)
                            .form-group
                                input#description.form-control.form-control-user(type='text' placeholder='Description' name='description' value=input.description)
                            .form-group
                                input#location.form-control.form-control-user(type='text' placeholder='Location' name='location' value=input.location)
                            .form-group.row
                                .col-sm-6.mb-3.mb-sm-0
                                    input#email.form-control.form-control-user(type='email' placeholder='Email Address' name='email' value=input.email)
                                .col-sm-6
                                    input#phone.form-control.form-control-user(type='text' placeholder='Phone Number' name='phone' value=input.phone)
                            .form-group
                                select.form-control#gender(name='gender')
                                    option(value='') ---- Select Gender ----
                                    option(value='Male') Male
                                    option(value='Female') Female
                                    option(value='') N/A
                            a#buttonId.btn.btn-primary.btn-user.btn-block(onclick="$('#buttonId').prop('disabled', true);  $('#buttonId').html(\"<span class='spinner-border spinner-border-sm'></span> Loading...\"); this.closest('form').submit();   return false;")
                                | Register Account
                            hr